<div style="display: flex;">
  <div style="background: white;position: relative;min-width: 1000px;border: 1px solid #ccc;border-top-left-radius: 10px;border-top-right-radius: 10px;padding-bottom: 20px;">
    <div id="coverphotoCotainer" data-picture="true" style="position: absolute; height: 300px; width: 100%;">
      <img id="coverphotoItself" src="<%= userObj.coverphoto %>" style="border-top-right-radius: 10px;border-top-left-radius: 10px;position:absolute;height:100%;width: 100%;object-fit: cover;top: 0;">

      <label id="editCoverPhotobutton" style="display:none;overflow:hidden;background: #5b88e8; position: absolute;right: 20px;bottom:20px;color: white;border-radius: 5px;padding: 10px;cursor: pointer;">Edit cover
        <input id="coverPhotoInput" type="file" name="cover_photo" data-big-width="1000px" data-big-height="600px" data-small-height="300px" data-small-width="1000px" data-type-picture="coverphoto" data-heading="Drag to crop cover photo" style="opacity: 0.0001;position: absolute;cursor: pointer;"></input>
      </label>

    </div>
    <div id="profilephotoCotainer" data-picture="true" style="display: flex;justify-content: center;position:relative;height: 200px; width: 200px;margin-top:150px;margin-left: 20px;">
      <img id="profilePicID" src="<%= userObj.profilepic %>" style="border-radius: 25%; object-fit: cover;width: 100%;height: 100%;">
      
      <label id="editProfilePhotobutton" style="display:none;background: #5b88e8; position: absolute;bottom: 15px;color: white;border-radius: 5px;padding: 10px;cursor: pointer;">Edit profile picture
        <input id='profilePicInput' type="file" name="profile_pic" data-big-width="500px" data-big-height="600px" data-small-height="400px" data-small-width="400px" data-type-picture="profilepic" data-heading="Drag to crop profile picture" style="opacity: 0.0001;position: absolute;cursor: pointer;"></input>
      </label>

    </div>
    <div style="display: flex;padding: 0px 20px 0px 20px;">
      <div style="display: flex; flex-direction: column;">
        <span style="font-size: 22px; font-weight: bold; margin-top: 10px;"><%= userObj.fullname %></span>
        <span style="font-size: 20px; margin-top: 10px;order: 1">Email: <%= userObj.email %></span>
        <% userObj.information.forEach(item => { %>
          <% for (const prop in item) { %>
            <% if (prop === 'github') { %>
              <% if (!!item[prop].link && !!item[prop].username) { %>
                <span style="font-size: 20px; margin-top: 10px;order: 0;"><%= prop.charAt(0).toUpperCase() + prop.slice(1) %>: <a style="color: blue; font-style: italic;" href="<%= item[prop].link %>"><%= item[prop].username %></a></span>
              <% } else { %>
                <div style="order: 3;margin-top: 5px;">
                  <a id="githubLinkClicked" style="text-decoration: none; color: blue;font-size: 18px;" href="/account/settings?focus=githubLinkButton&input=githubUsername">Add github</a>
                </div>
              <% } %>
            <% } %>
            <% if (prop !== 'github') { %>
              <% if (!!item[prop]) { %>
                <span style="font-size: 20px; margin-top: 10px;order: 2"><%= prop.charAt(0).toUpperCase() + prop.slice(1) %>: <%= item[prop] %></span>
              <% } else { %>
                <div style="order: 4;margin-top: 5px;">
                  <a id="<%=prop%>LinkClicked" style="text-decoration: none; color: blue;font-size: 18px;" href="/account/settings/?focus=locationLinkButton&input=location">Add <%= prop %></a>
                </div>
              <% } %>
            <% } %>
          <% } %>
        <% }) %>
      </div>
      <div style="flex-grow: 1;align-self: flex-end;">
        <nav>
          <ul style="display: flex;list-style-type: none;justify-content: space-around;">
            <li class="navLinks" style="font-size: 20px;font-weight: bold;cursor: pointer;">
              <a style="text-decoration: none; color: #3366FF;" href="/account/profile/<%= userObj.username %>">Profile</a>
            </li>
            <li class="navLinks" style="font-size: 20px;font-weight: bold;cursor: pointer;">
              <a style="text-decoration: none; color: lightslategray;" href="/account/resume/<%= userObj.username %>">Resume</a>
            </li>
            <li class="navLinks" style="font-size: 20px;font-weight: bold;cursor: pointer;">
              <a style="text-decoration: none; color: lightslategray;" href="/account/documentation/<%= userObj.username %>">Documentation</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>