<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

* {
	font-family: sans-serif;
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

#mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#signupForm {
	width: 90%;
	margin-top: 20px;
}

.signupItems {
	display: flex;
	flex-direction: column;
}

.signupItems label {
	font-size: 20px;
}

.signupItems input {
    font-size: 19px;
    padding: 5px 5px 5px 5px;
}

.button { 
    margin-top: 18px;
}

.button input {
	-webkit-appearance: none;
	background: #5b88e8;
	height: 40px;
	color: white;
}

#orContainer {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#or {
	font-size: 21px;
}

#orContainer hr {
	width: 40%;
}

#githubContainer {
	background: #86af49;
	height: 40px;
	margin-top: 20px;
	text-align: center;
	border-radius: 5px;
	border-top:			1px solid #3f3b3b;
	border-left:		1px solid #3c3f3b;
	border-right:		1px solid #3c3f3b;
	border-bottom:		1px solid #3c3b3f;
}

#githubContainer a {
	color: white;
	display: block;
	font-size: 19px;
	text-decoration: none;
	line-height: 40px;
}

#helpLinks {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 18px 0px 18px 0px;
}

#recoverAccount, #createAccount {
	font-size: 20px;
}

.errorText {
	color: red;
}

</style>
</head>
<body>

<div id="mainContainer">

	<% include ../../../partials/mobile/header %>

	<%if (formErrors.length > 0) { %>

		<% var fullnameError = formErrors[0].fullname !== undefined ? formErrors[0].fullname.msg : '' %>
		<% var usernameError = formErrors[0].userid !== undefined ? formErrors[0].userid.msg : '' %>
		<% var emailError = formErrors[0].username !== undefined ? formErrors[0].username.msg : '' %>
		<% var passwordError = formErrors[0].password !== undefined ? formErrors[0].password.msg : '' %>

		<% var fullnamePassed = body[0].fullname %>
		<% var usernamePassed = body[0].userid %>
		<% var emailPassed = body[0].username %>
		<% var passwordPassed = body[0].password %>

	<% } %>

	<form id="signupForm" action="/alternate/signup" method="post">

		<div class="signupItems">
			<label>Full Name:</label>
			<input type="text" name="fullname" value="<%= fullnamePassed %>">
		</div>
		<div class="errorText"><%= fullnameError %></div>
		<div class="signupItems">
			<label>Username:</label>
			<input type="text" name="userid" value="<%= usernamePassed %>">
		</div>
		<div class="errorText"><%= usernameError %></div>
		<div class="signupItems">
			<label>Email:</label>
			<input type="text" name="username" value="<%= emailPassed %>">
		</div>
		<div class="errorText"><%= emailError %></div>
		<div class="signupItems">
			<label>Password:</label>
			<input type="password" name="password" value="<%= passwordPassed %>">
		</div>
		<div class="errorText"><%= passwordError %></div>
		<div class="signupItems button">
			<input id="signupButton" value="Create Account" type="submit" name="Log In">
		</div>
		<div id="orContainer">
			<hr>
				<span id="or">or</span>
			<hr>
		</div>
		<div id="githubContainer">
			<a id="githubButton" href="#">Login with Github</a>
		</div>
		<div id="helpLinks">
			<div id="recoverAccount">
				<a href="/#">Have an account?</a>
			</div>
			<div id="createAccount">
				<a href="/alternate/signup">Forgot account?</a>
			</div>
		</div>

	</form>

</div>

</body>
</html>




